#header {
    margin-bottom: 10px;
}

body {
    margin: 0;
}

.dark-background {
    background-color: #0f1210;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: orange;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.list-meme {
    width: 100%;
}

.meme-sizer, .meme {
    width: 20%;
}

@media screen and (max-width: 480px) {
    .meme-sizer, .meme {
        width: 50%;
    }
}

.meme {
    transition: all .2s ease-in-out;
}

.meme:hover {
    box-shadow: 0 0 100px #000000;
    transform: scale(1.1);
    z-index: 2;
}
